
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

#header {
  width: 65%;
  height: 100vh;
  background-image: url(images/image2.png);
  background-size: cover;
  background-position: center;
  transform: translateX(40%);
  margin-top: 0%;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 160px;
  height: 60px;
  transform: translateX(-150%);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px;
  transform: translateX(-70%);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(235, 37, 11);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header_text {
  margin-top: 40%;
  font-size: 25px;
  transform: translateX(-30%);
}

.header_text > h1 {
  font-size: 50px;
  margin-top: 5%;
}
.header_text > h1 > span {
  color: rgb(255, 7, 7);
}

#about {
  padding: 50px 0;
  color: #adadaa;
  transform: translateX(-20%);
}
.ROW {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about_col_1 > img {
  width: 35vw;
  height: 80vh;
  border-radius: 15px;
  transform: translateX(35%);
  margin-top: -20%;
}
.about_col_2 {
  color: #fff;
}
.title_2 {
  display: flex;
  margin: 20px 0 40px;
}
.title_2_links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.title_2_links::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(235, 37, 11);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.title_2_links.active_link::after {
  width: 50%;
}
.title_contents > ul > li {
  list-style: none;
  margin: 10px 0;
}
.title_contents > ul > li > span {
  color: rgb(240, 35, 35);
  font-size: 14px;
}
.title_contents {
  display: none;
}
.title_contents.active_1 {
  display: block;
}
